<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <a href="/people/">Back to News Feed</a>
    <h1>Sign Up Page</h1>
    <form method="post" action="/people">
      <p>
        <label for="first_name"></label>
        <input type="text" name="firstname" id="first_name" placeholder="First Name">
      </p>
      <p>
        <label for="last_name"></label>
        <input type="text" name="lastname" id="last_name" placeholder="Last Name">
      </p>
      <p>
        <label for="status_update"></label>
        <textarea name="message" id="status_update"placeholder="Update your status"></textarea>
      </p>
      <input type="submit" id="submit_button" value="Save Your Profile">
    </form>
  </body>
</html>