<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <a href="/people/">Back to News Feed</a>
    <h1><%= person.firstname %>'s Profile Page</h1>
    <p><%= person.firstname %> <%= person.lastname %></p>
    <a href="/people/<%= person.id %>/edit"><button>Edit Profile</button></a>
  </body>
</html>