body {
  background-color: rgba(222, 231, 231, 1);
}

.center_column {
  min-height: 800px;
  background-color: rgba(255, 255, 255, .8);
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(252, 70, 7, 1);
}

a {
  color: rgba(12, 157, 160, 1);
  text-decoration: bold;
}

button {
  margin-top: 20px;
}

td {
  padding-bottom: 20px;
}

.icon_image {
  width: 40px;
  border: 1px solid rgba(222, 231, 231, 1);
  margin-right: 10px;
}

.profile_image {
  width: 300px;
  margin-bottom: 30px;
  border: 1px solid rgba(222, 231, 231, 1);
}

.dropdown-toggle {
  margin-top: 15px;
}




